<!--      Список бойцов в бэклоге   -->
    <div style="margin-top:40px;">
        <ul class="list-group">
          {% for backlog in backlog_data %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ backlog.backlog_reg.registration_participant.participant_last_name }} {{ backlog.backlog_reg.registration_participant.participant_first_name }}
                 <button class="btn btn-sm btn-outline-secondary add_candidate" id="add_candidate_id" type="button" data-id="{{backlog.id}}">Выбрать</button>
            </li>
          {% endfor %}

        </ul>
    </div>
    
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.min.js"></script>

<script>
    $(document).ready(function(){
    
    $('.add_candidate').click(function(){
        var backlog_id = $(this).data('id');
        console.log("backlog_id: ", backlog_id)
         $.ajax({
             url: '/add_candidate_ajaxfile',
             type: 'post',
             data: {backlog_id:backlog_id},
             success: function(response){


            }
         });
         
        });
        
    })        
</script>