{% extends "base.html" %}

{% block title %}
{{ competition_data.competition_name }}
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 10px">

        <div class="row">
            <div class="col">
{#                <nav aria-label="breadcrumb">#}
{#                  <ol class="breadcrumb">#}
{#                    <li class="breadcrumb-item"><a href="{{url_for('home.competitions')}}">Список соревнований</a></li>#}
{#                    <li class="breadcrumb-item active" aria-current="page">{{ competition_data.competition_name }}</li>#}
{#                  </ol>#}
{#                </nav>#}
                <p><a href="{{url_for('home.competitions')}}">Список соревнований</a></p>
{#                <p></p>#}
                <h3>{{ competition_data.competition_name }}</h3>
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a class="nav-link" href="#aaa" data-toggle="tab">AAA</a></li>
                    <li class="nav-item"><a class="nav-link" href="#bbb" data-toggle="tab">BBB</a></li>
                    <li class="nav-item"><a class="nav-link" href="#ccc" data-toggle="tab">CCC</a></li>
                </ul>
                <div class="tab-content" id="tabs">
                    <div class="tab-pane" id="aaa">...Content...aaa</div>
                    <div class="tab-pane" id="bbb">...Content...bbb</div>
                    <div class="tab-pane" id="ccc">...Content...ccc</div>
                </div>



            </div>
        </div>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        var active_tab = 'ccc'
        activaTab(active_tab);
    });

    function activaTab(tab){
      $('.nav-tabs a[href="#' + tab + '"]').tab('show');
    };

</script>


{% endblock %}