{% extends "base.html" %}

{% block title %}
{{ competition_data.competition_name }}
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 10px">

        <div class="row">
            <div class="col">
{#                <nav aria-label="breadcrumb">#}
{#                  <ol class="breadcrumb">#}
{#                    <li class="breadcrumb-item"><a href="{{url_for('home.competitions')}}">Список соревнований</a></li>#}
{#                    <li class="breadcrumb-item active" aria-current="page">{{ competition_data.competition_name }}</li>#}
{#                  </ol>#}
{#                </nav>#}
                <p><a href="{{url_for('home.competitions')}}">Список соревнований</a></p>
{#                <p></p>#}
                <h3>{{ competition_data.competition_name }}</h3>
                <ul class="nav nav-tabs" id="competition_tabs">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#competition_general_info">Общая информация</a>
                  </li>
                  <li class="nav-item">
{#                    <a class="nav-link" data-toggle="tab" href="#participants">Участники</a>#}
                      <a class="nav-link" href="#participants">Участники</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#opinion">Отзывы</a>
                  </li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="competition_general_info">
                    Описание товара...
                  </div>
                  <div class="tab-pane fade" id="participants">
                    Характеристики товара...
                  </div>
                  <div class="tab-pane fade" id="opinion">
                    Отзывы...
                  </div>
                </div>


            </div>
        </div>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    var competition_tab = '#participants'
    $('#competition_tabs a[href="#participants"] ').click(function(e){
    e.preventDefault();
    $(this).tab('show');
  });


})
</script>


{% endblock %}