<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>


   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <style>
     a:hover {
      cursor:pointer;
     }
    </style>
    <title>{{ competition_data.competition_name }}. Поединки</title>
</head>
<body>

    <!-- Это начало Nav Bar-->

        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
          <h5 class="my-0 mr-md-auto font-weight-normal">Fights Management System</h5>
          <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="{{url_for('home.competitions')}}">Соревнования</a>
            <a class="p-2 text-dark" href="{{url_for('home.participants')}}">Спортсмены</a>
          </nav>
        </div>

    <!-- Это конец Nav Bar-->

    <!--<div class="container-fluid" style="margin-top: 10px">-->
    <div class="container" style="margin-top: 10px">
        <div class="row">
            <div class="col">

                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    <ul style="padding-left: 0">
                        {% for category, message in messages %}
                        <div class="alert {{category}} alert-dismissible fade show" role="alert">
                            <li style="list-style-type: none;">{{ message }}</li>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        {% endfor %}
                    </ul>
                    {% endif %}
                {% endwith %}


                <p><a href="{{url_for('home.competitions')}}">Список соревнований</a></p>
                <h3>Конфигуратор</h3>


                <div class="form-row">
                    <div class="form-group col-md-4">
                      <label for="age_cat_select">Возрастная категория</label>
                      <select class="age_category_select form-control" id="age_cat_select" name="age_catagory_selector">
                              {% for age_cat in age_catagories_data %}
                                <option value={{ age_cat.age_cat_id }}>{{ age_cat.age_category_name }}</option>
                              {% endfor %}
                            </select>
                    </div>

                    <div class="form-group col-md-4">
                      <label for="weight_cat_select">Весовая категория</label>
                      <select class="weight_category_select form-control" id="weight_cat_select" name="weight_catagory_selector">
                                  {% for weight_cat in weight_categories_data %}
                                    <option value={{ weight_cat.weight_cat_id }}>{{ weight_cat.weight_category_name }}</option>
                                  {% endfor %}
                                </select>
                    </div>

                    <div class="form-group col-mb-4">
                        <label for="round_selector_id">Круг</label>
                        <div class="input-group">

                          <select style="width:auto;" class="round_select form-control" id="round_selector_id" name="round_selector">
                                <option value=0 selected disabled>Выбрать круг</option>
                            </select>
                          
                          <div class="input-group-append">
                            <button  class="btn btn-outline-secondary add_round_button" data-compid={{ competition_data.competition_id }}>
                              <i class="fa fa-plus fa-lg"></i>
                            </button>
                            <button  class="btn btn-outline-secondary edit_rounds_button" data-compid={{ competition_data.competition_id }}>
                              <i class="fa fa-edit fa-lg"></i>
                            </button>
                          </div>
                        </div>
                    </div>



                  </div>



                <div class="fights_data">
                    
                    <div class="backlog">
                        <h4>Бэклог</h4>
                                <div class="row">
                                    <div class="col">
                                        <div class="red_candidate">
                                            
                                        </div>
                                    </div>
                                    
                                    <div class="col">
                                        <div class="blue_candidate">
                                            
                                        </div>
                                    </div>
                                    
                                    <div class="col">
                                        <select style="width:100%; margin-top: 10px;" class="tatami_select form-control" id="tatami_selector_id" name="tatami_selector">
                                                {% for tatami in tatami_data %}
                                                    <option value={{ tatami.tatami_id }}>{{ tatami.tatami_name }}</option>
                                                {% endfor %}
                                        </select>
                                        <button type="button" class="btn btn-outline-primary new_fight" data-id="{{round_id}}" style="margin-top: 10px; width: 100%">Создать бой</button>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="backlog_list">
                                           
                                        </div>
                                    </div>
                                </div>

                    </div>

                    <hr>
                    <div class="fights_div">
                        <div class="row">
                            <div class="col">
                                <h4>Поединки</h4>
                                <div class="fights_list">
                                   
                                </div>
                            </div>
                        </div>
                    </div>

                 </div>



            </div>
        </div>

      

      <div class="modal fade" id="edit_rounds_modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
              <div class="modal-content">
                    <div class="modal-header">
                          <h5 class="modal-title">Круги</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                    </div>

                    <div class="modal-body">

                    </div>
              </div>
        </div>
      </div>


      <div class="modal fade" id="add_round_modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
              <div class="modal-content">
                    <div class="modal-header">
                          <h5 class="modal-title">Новый круг</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                    </div>

                    <div class="modal-body">

                    </div>
              </div>
        </div>
      </div>



      



      
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.min.js"></script>

<script>
    $(document).ready(function(){
        var socket = io.connect();
        var selectedweightcategory = $('#weight_cat_select').children("option:selected").val();
        var selectedagecategory = $('#age_cat_select').children("option:selected").val();
        var selectround = $('#round_selector_id').children("option:selected").val();
        var selecttatami = $('#tatami_selector_id').children("option:selected").val();

        $('.backlog').hide()
        $('.fights_div').hide()
        // $('.fights_data').html();
        // $('.fights_data').append("test");


        // при загрузке страницы отправляем на сервер значения в селектах 
        // возрастной и весовой категории с тем чтобы обратно получить значения для кругов
        socket.emit('define_rounds_data', {'selectedweightcategory': selectedweightcategory, 'selectedagecategory':selectedagecategory});

        socket.on('update_round_selector', function (msg){
            // console.log("ответ получен при обновлении селекта")
            var option = $('<option></option>').attr("value", "option value").text("Text");
            var rounds_selector_data = msg.rounds_selector_data
            // console.log("есть контакт")
            var $el = $("#round_selector_id");
            $('#round_selector_id option:gt(0)').remove();
            $.each(rounds_selector_data, function(key,value) {
              $el.append($("<option></option>")
                 .attr("value", value).text(key));
            });
          })



          $("select.round_select").change(function(){
              // Получаем значение из селекта раунда
              selectround = $(this).children("option:selected").val();

              // Отправляем на сервер значение в селекте раунда для сохранения
              // socket.emit('save_round_selector_data', {'selectround':selectround});

              // если значение не равно нулю, то показываем бои в выбранном круге
              if (parseInt(selectround) !=0){
                  // $(".fights_data").show()
                  //socket.emit('show_fights_list', {'selectround':selectround});
                      $.ajax({
                         url: '/fights_list_ajaxfile',
                         type: 'post',
                         data: {selectround:parseInt(selectround)},
                         success: function(response){
                           // console.log("должен отработать список боев")
                            $('.backlog').show()
                            $('.fights_div').show()
                            $('.red_candidate').html(response);
                            $('.red_candidate').append(response.htmlresponse_red_candidate);
                            $('.blue_candidate').html(response);
                            $('.blue_candidate').append(response.htmlresponse_blue_candidate);
                            $('.backlog_list').html(response);
                            $('.backlog_list').append(response.htmlresponse_backlog);
                            $('.fights_list').html(response);
                            $('.fights_list').append(response.htmlresponse_fights);

                        }
                 });

              }
        });

        $("select.tatami_select").change(function(){
            selecttatami = $(this).children("option:selected").val();
         });
      
         $("select.weight_category_select").change(function(){
              $(".round_select").val(0)
             selectedweightcategory = $(this).children("option:selected").val();
            socket.emit('define_rounds_data', {'selectedweightcategory': selectedweightcategory, 'selectedagecategory':selectedagecategory});

         });

      
        $("select.age_category_select").change(function(){
            $(".round_select").val(0)
            selectedagecategory = $(this).children("option:selected").val();
            socket.emit('define_rounds_data', {'selectedweightcategory': selectedweightcategory, 'selectedagecategory':selectedagecategory});
        });


      $('.edit_rounds_button').click(function(){
           var competition_id = $(this).data('compid');
           $.ajax({
                 url: '/edit_rounds_ajaxfile',
                 type: 'post',
                 data: {competition_id:competition_id, selectedweightcategory:selectedweightcategory,selectedagecategory:selectedagecategory},
                 success: function(data){
                    $('.modal-body').html(data);
                    $('.modal-body').append(data.htmlresponse);
                    $('#edit_rounds_modal').modal('show');
                }
             });

        });

      
      
       $('.add_round_button').click(function(){
           var competition_id = $(this).data('compid');
           $.ajax({
                 url: '/add_round_ajaxfile',
                 type: 'post',
                 data: {competition_id:competition_id, selectedweightcategory:selectedweightcategory,selectedagecategory:selectedagecategory},
                 success: function(data){
                    $('.modal-body').html(data);
                    $('.modal-body').append(data.htmlresponse);
                    $('#add_round_modal').modal('show');
                }
             });

        });

      

        $('.new_fight').click(function(){
           var round_id = selectround;
           var tatami_id = selecttatami;

           $.ajax({
             url: '/new_fight_ajaxfile',
             type: 'post',
             data: {round_id:round_id,tatami_id:tatami_id},
             success: function(response){
                $('.backlog').show()
                $('.fights_div').show()
                $('.red_candidate').html(response);
                $('.red_candidate').append(response.htmlresponse_red_candidate);
                $('.blue_candidate').html(response);
                $('.blue_candidate').append(response.htmlresponse_blue_candidate);
                $('.backlog_list').html(response);
                $('.backlog_list').append(response.htmlresponse_backlog);
                $('.fights_list').html(response);
                $('.fights_list').append(response.htmlresponse_fights);

            }
         });
           
        })

       $('.edit_rounds').click(function(){
           var competition_id = $(this).data('compid');
           $.ajax({
                 url: '/edit_rounds_ajaxfile',
                 type: 'post',
                 data: {competition_id:competition_id, selectedweightcategory:selectedweightcategory,selectedagecategory:selectedagecategory},
                 success: function(data){

                    $('.modal-body').html(data);
                    $('.modal-body').append(data.htmlresponse);
                    $('#edit_rounds_modal').modal('show');
                }
             });

        });
      
    })
</script>


  
</body>