
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

<!--<button type="button" class="btn btn-primary new_fight" data-id="{{round_id}}">Создать</button>-->
<p></p>
<!--<div class="d-flex flex-row" style="min-width:780px">-->
<div class="row">
  <div class="col">
        <div class="red_candidate_div">
      <!--    <div style="height: 100px; width: 300px; box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;"  class="red_fighter_candidate">-->
            <div style="margin-top: 10px; height: 100px; width: 300px; box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);"  class="red_fighter_candidate">

            </div>
        </div>
  </div>

    <div class="col">
<!--        <div style="height: 100px; width: 300px; box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;"  class="blue_fighter_candidate">-->
        <div class="blue_candidate_div">
            <div class="d-flex align-items-center justify-content-between blue_fighter_candidate" style="margin-top: 10px; padding-left: 10px; height: 100px; width: 300px; box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;">
                <div>
                    Карелин
                    <br>
                    Александр
                </div>
                <div style="padding-right: 10px">
                    <button type="button" class="btn btn-sm btn-outline-secondary delete_blue_candidate">Отменить</button>
                </div>

            </div>

        </div>
    </div>
    <div class="col">
        <button type="button" class="btn btn-outline-primary new_fight" data-id="{{round_id}}" style="margin-top: 10px;">Создать бой</button>
    </div>
</div>

<div class="backlog_list">
    <!--      Список бойцов в бэклоге   -->
    <div style="margin-top:40px;">
        <ul class="list-group">
          {% for backlog in backlog_data %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ backlog.backlog_reg.registration_participant.participant_last_name }} {{ backlog.backlog_reg.registration_participant.participant_first_name }}
                 <button class="btn btn-sm btn-outline-secondary add_candidate" id="add_candidate_id" type="button" data-id="{{backlog.id}}">Выбрать</button>
            </li>
          {% endfor %}

        </ul>
    </div>
</div>




    <ul>
        {% for fight in fights_data %}
            {{ fight.red_fighter.registration_participant.participant_last_name }} {{ fight.red_fighter.registration_participant.participant_first_name }}
        {% endfor %}
    </ul>


<div class="modal fade" id="create_fight_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
          <div class="modal-content">
                <div class="modal-header">
                      <h5 class="modal-title">Поединок</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                </div>

                <div class="modal-body">

                </div>

          </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.min.js"></script>

<script>
    $(document).ready(function(){
        $('.new_fight').click(function(){
        var round_id = $(this).data('id');

         $.ajax({
             url: '/create_fight_ajaxfile',
             type: 'post',
             data: {round_id:round_id},
             success: function(data){

                $('.modal-body').html(data);
                $('.modal-body').append(data.htmlresponse);
                $('#create_fight_modal').modal('show');
            }
         });
        });


        $('.add_candidate').click(function(){
        var backlog_id = $(this).data('id');

         $.ajax({
             url: '/add_candidate_ajaxfile',
             type: 'post',
             data: {backlog_id:backlog_id},
             success: function(response){
                $('.red_candidate_div').html(response);
                $('.red_candidate_div').append(response.htmlresponse_red_candidate);
                $('.blue_candidate_div').html(response);
                $('.blue_candidate_div').append(response.htmlresponse_blue_candidate);
                $('.backlog_list').html(response);
                $('.backlog_list').append(response.htmlresponse_backlog_list);


            }
         });
        });


    })
</script>