<div style="margin-top:40px;">
        <ul class="list-group">
          {% for fight in fights_data %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ fight.red_fighter.registration_participant.participant_last_name }} {{ fight.red_fighter.registration_participant.participant_first_name }} - {{ fight.blue_fighter.registration_participant.participant_last_name }} {{ fight.blue_fighter.registration_participant.participant_first_name }}
                 <button class="btn btn-sm btn-outline-secondary delete_fight" id="delete_fight_id" type="button" data-id="{{fight.fight_id}}">Удалить</button>
            </li>
          {% endfor %}

        </ul>
    </div>