{%  for queue in queue_data %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ queue.red_fighter.registration_participant.participant_last_name }} {{ queue.red_fighter.registration_participant.participant_first_name }} - {{ queue.blue_fighter.registration_participant.participant_last_name }} {{ queue.blue_fighter.registration_participant.participant_first_name }}
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ queue.fight_tatami.tatami_name }}</h6>
          <p>s.i. : {{ queue.queue_sort_index }}</p>
          <p>cat.s.i. : {{ queue.queue_catagory_sort_index }}</p>
        <p class="card-text">Весовая категория: {{ queue.red_fighter.registration.weight_category_name }}. Возрастная категория: {{ queue.red_fighter.registration_age_cat.age_category_name }}</p>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="{{queue.fight_id}}" id="inlineRadio1" value="move_fight" checked>
          <label class="form-check-label" for="inlineRadio1">Поединок</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="{{queue.fight_id}}" id="inlineRadio2" value="move_category">
          <label class="form-check-label" for="inlineRadio2">Категория</label>
        </div>
          <a class="card-link up_queue" data-id="{{ queue.fight_id }}">Вверх</a>
        <a class="card-link down_queue" data-id="{{ queue.fight_id }}">Вниз</a>
      </div>
    </div>
{% endfor %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.min.js"></script>

<script>
    $(document).ready(function(){
        var selecttatami = $('#tatami_selector_id').children("option:selected").val();

        $('.up_queue').click(function(){
           var fight_id = $(this).data('id');
           var move_object_selector = $('input[name="move_object_radio_selector"]:checked').val();

           $.ajax({
                 url: '/up_queue_ajaxfile',
                 type: 'post',
                 data: {fight_id:fight_id, move_object_selector:move_object_selector, selecttatami:selecttatami},
                 success: function(data){
                    $('.queue_list').html(data);
                    $('.queue_list').append(data.htmlresponse);

                }
             });

        });
        
        $('.down_queue').click(function(){
           var fight_id = $(this).data('id');
           var radio_n = parseInt(fight_id)*1
           console.log("radio_name: ", radio_n)
           var move_object_selector = $("input[name='" + radio_n + "']:checked").val();
           // var move_object_selector = $('input[name="move_object_radio_selector3"]:checked').val();
           
           // console.log("move_object_selector: ", move_object_selector)

           $.ajax({
                 url: '/down_queue_ajaxfile',
                 type: 'post',
                 data: {fight_id:fight_id, move_object_selector:move_object_selector, selecttatami:selecttatami},
                 success: function(data){
                    $('.queue_list').html(data);
                    $('.queue_list').append(data.htmlresponse);

                }
             });

        });


    })

</script>