{%  for queue in queue_data %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ queue.queue_fight.red_fighter.registration_participant.participant_last_name }} {{ queue.queue_fight.red_fighter.registration_participant.participant_first_name }} - {{ queue.queue_fight.blue_fighter.registration_participant.participant_last_name }} {{ queue.queue_fight.blue_fighter.registration_participant.participant_first_name }}
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ queue.queue_fight.fight_tatami.tatami_name }}</h6>
        <p class="card-text">Весовая категория: {{ queue.queue_fight.red_fighter.registration.weight_category_name }}. Возрастная категория: {{ queue.queue_fight.red_fighter.registration_age_cat.age_category_name }}</p>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label" for="inlineRadio1">Поединок</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
          <label class="form-check-label" for="inlineRadio2">Категория</label>
        </div>
          <a href="#" class="card-link">Вверх</a>
        <a href="#" class="card-link">Вниз</a>
      </div>
    </div>
{% endfor %}