<form method="POST" action="{{ url_for('home.add_weight_category_with_data', competition_id=competition_id, weight_cat_id=weight_cat_id, status_of_last_record=status_of_last_record) }}">



  <div class='row'>
    <div class="col">
      <div class="form-group">
        <label for="from">Вес от, кг</label>
        <input type="number" class="form-control" id="from" name="from" value={{ value_from }} required min="{{from_field_min}}" max="{{from_field_max}}">
      </div>

    </div>
    <div class="col">
       <div class="form-group">
      <label for="to">Вес до, кг</label>
        <input type="number" class="form-control" id="to" name="to" required>
      </div>
    </div>
  </div>
  <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button type="submit" class="btn btn-primary">Сохранить</button>
  </div>


</form>