<form method="POST" action="{{ url_for('home.add_empty_weight_category_new', competition_id=competition_id) }}">

  <div class='row'>
    <div class="col">
      <div class="form-group">
        <label for="from">Вес от, кг</label>
        <input type="number" class="form-control" readonly disabled="disabled" id="from" name="from" value="0">
      </div>
     
    </div>
    <div class="col">
       <div class="form-group">
      <label for="to">Вес от, кг</label>
        <input type="number" class="form-control" id="to" name="to">
      </div>
    </div>
  </div>
  <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button type="submit" class="btn btn-primary">Сохранить</button>
  </div>

  
</form>