<div class="d-flex align-items-center justify-content-between" style="margin-top: 10px; padding-left: 10px; height: 100px; width: 300px; box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;">
    <div>
        {{ red_candidate_last_name }}
        <br>
        {{ red_candidate_first_name  }}
    </div>
    <div style="padding-right: 10px">
        <button type="button" class="btn btn-sm btn-outline-secondary delete_blue_candidate">Отменить</button>
    </div>

</div>