<form method="POST" action="{{ url_for('home.registration_new', competition_id = competition_id) }}">
    {{ form.csrf_token }}

    <select class="selectpicker">
      <option>Mustard</option>
      <option>Ketchup</option>
      <option>Barbecue</option>
    </select>

    <div class="form-group">
            {{ form.reg_weight.label }}
            {{ form.reg_weight (class ='form-control')}}
        <br>
              {% for error in form.reg_weight.errors %}
                <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
        </div>



    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>




</form>