<form method="POST" action="{{ url_for('home.registration_new', competition_id = competition_id, participant_id = participant_data.participant_id) }}">
    {{ form.csrf_token }}

    <h5>{{ participant_data.participant_last_name }} {{ participant_data.participant_first_name }} </h5>

    <div class="form-group">
            {{ form.reg_weight.label }}
            {{ form.reg_weight (class ='form-control')}}
        <br>
              {% for error in form.reg_weight.errors %}
                <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
        </div>



    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>




</form>