
<form method="POST" action="{{ url_for('home.registration_create_new', competition_id = competition_id) }}">
    {{ form.csrf_token }}

    <h5>{{ reg_data.registration_participant.participant_last_name }} {{ reg_data.registration_participant.participant_first_name }} </h5>

    <div class="form-group">
            {{ form.reg_weight.label }}
            {{ form.reg_weight (class ='form-control', value = reg_data.weight_value)}}
        <br>
              {% for error in form.reg_weight.errors %}
                <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
        </div>



    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>




</form>
