<style>
    .error{
        outline: 1px solid red;
    }
</style>



<form method="POST" action="{{ url_for('home.registration_new', competition_id = competition_id, participant_id = participant_data.participant_id) }}">
    {{ form.csrf_token }}

<div class="row">
    <div class="col d-flex justify-content-start">
            <div class="row">
                <div class="col">
                    <img src= {{ participant_data.fighter_image }} class="float-left" alt="Responsive image" width="100" height="100">
                </div>
                <div class="col">
                    <h5>{{ participant_data.participant_last_name }} {{ participant_data.participant_first_name }} </h5>
                </div>


            </div> <!-- конец дива с левым участником-->
    </div> <!--конец левой колонкя для левого участника -->

</div>


    <p></p>
    <h5>Вес и весовая категория</h5>
    <div class="form-row">
        <div class="col-3">

          <input class="form-control weight_value_at_reg" type="number" id="weight_input" name="weight_input" placeholder="Вес, кг" required min="0">

        </div>
        <div class="col-9">

          <div class="input-group">

              <select class="weight_category_select form-control" id="weight_cat_select" name="weight_catagory_selector">
                  <option value=0 selected disabled>Весовая категория</option>
                  {% for weight_cat in weight_categories_data %}
                    <option value={{ weight_cat.weight_cat_id }}>{{ weight_cat.weight_category_name }}</option>
                  {% endfor %}

            </select>


            <div class="input-group-append">
                <button class="btn btn-outline-secondary update_weight_cat" type="button">Обновить</button>
              </div>
        </div>

        </div>
  </div>
    <hr>
    <h5>Возраст и возрастная категория</h5>
    <div class="form-row">
        <div class="col">
            <p>Дата рождения: {{ participant_data.birthday.strftime('%d.%m.%Y') }}</p>
            <div class="form-group row required">
                    <label for="comp_date" class="col-sm-5 col-form-label">Дата соревнования:</label>
                    <div class="col-sm-7">
                        <input type="date" class="form-control competition_date" id="comp_date" name="comp_data_input" value="{{ competition_data.competition_date_start }}" required>
                    </div>
            </div>
            <div class="form-group row required">
                    <label for="age_input" class="col-sm-5 col-form-label">Полных лет: </label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control-plaintext age_input" id="age_input" name="age_input" value="{{ age_years }}">
                    </div>
            </div>
{#            <p>Полных лет: {{ age_eyars }}</p>#}

            <div class="form-row">
                    <div class="col-3">
                      <p>Возрастная категория</p>
                    </div>
                    <div class="col-9">

                      <div class="input-group">

                          <select class="age_category_select form-control" id="age_cat_select" name="age_catagory_selector">

                              {% for age_cat in age_catagories_data %}
                                <option value={{ age_cat.age_cat_id }}>{{ age_cat.age_category_name }}</option>
                              {% endfor %}


                        </select>


                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary update_age_cat" type="button">Обновить</button>
                          </div>
                    </div>

                    </div>
              </div>




        </div>
    </div>




    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>


</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" integrity="sha256-bQmrZe4yPnQrLTY+1gYylfNMBuGfnT/HKsCGX+9Xuqo=" crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.min.js"></script>
<script>

$(document).ready(function(){
    var competition_id = {{ competition_id }}

    var socket = io.connect();
    var selectedweightcategory = $('#weight_cat_select').children("option:selected").val();



    var weight_value = $('input.weight_value_at_reg').val();
    console.log("weight_value ", weight_value)


    $(".age_category_select").val({{ default_age_cat_id }})

    var participant_id = {{ participant_data.participant_id }}
    // Значение из селекта возрастной категории
    var selectedagecategory = $('#age_cat_select').children("option:selected").val();

    // Значение даты соревнования
    var competition_date_value = $('#comp_date').val();

    // при загрузке страницы получаем с сервера значения полных лет на дату соревнования

    $("input.competition_date").change(function (){
        competition_date_value = $(this).val();
    })

    $("input.weight_value_at_reg").change(function (){
        weight_value = $(this).val();
    })

    $("select.age_category_select").change(function(){
        selectedagecategory = $(this).children("option:selected").val();
    });

    $("select.weight_category_select").change(function(){
        selectedweightcategory = $(this).children("option:selected").val();
    });

    $('.update_age_cat').click(function(){
        socket.emit('age_value_changed', {'competition_date_value': competition_date_value, 'competition_id':competition_id, 'participant_id':participant_id});
    });

    $('.update_weight_cat').click(function(){
        socket.emit('weight_value_changed', {'weight_new_value': weight_value, 'competition_id':competition_id});
        // console.log("значение селекта после нажатия на кнопку: ", selectedweightcategory, "competition_id: ", competition_id);
    });






   // Мы получили с сервера сообщение по каналу 'after connect'
    // Получив по каналу собщение мы отображаем его в консоли.
    socket.on('after connect', function(msg){
        console.log('After connect', msg.data);
    });

    socket.on('update_age_category_select_value', function (msg){
        var select_updated_id = parseInt(msg.age_cat_id)
        // console.log('id селекта возрастной категории ', select_updated_id)
        var age_years = parseInt(msg.age_years)
        $(".age_category_select").val(select_updated_id)
        $(".age_input").val(age_years)


    })


    socket.on('update_weight_category_select_value', function (msg){
        var select_updated_id = parseInt(msg.data)
        var age_eyars = parseInt(msg.age_eyars)
        // console.log(msg.data)
        $(".weight_category_select").val(select_updated_id)


            // document.getElementById('timer_slave').innerHTML = timer_display(msg.timer_sent)
        })

});
</script>